* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    flex-grow: 1;
    background: #fff;
}

.game-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.container {
    width: 1200px;
    display: flex;
    border-radius: 20px;
    margin: 30px auto 0;
}
/* Authorization form */

.auth {
    width: 600px;
    background: #14161a;
    margin: auto auto;
    padding-bottom: 30px;
}

.auth-button {
    width: 300px;
    height: 100px;
    display: inline-block;
    background: #fff;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #14161a;
}

.active {
    background: #14161a;
    color: #fff;
}

.field {
    width: 502px;
    margin: 20px auto 0;
}

.field:first-child {
    margin: 60px auto 0;
}

.field input {
    border-radius: 10px;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.field__label {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.auth-button__submit {
    color: #fff;
    background-color: #424242;
    padding: 10px 70px;
    margin: 0 auto;
    border-radius: 10px;
    transition: 0.2s;
    border: none;
    outline: none;
}

.auth-button__submit:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.auth-button__container {
    display: flex;
    margin-top: 50px;
}

/* Shop */
.games-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* /Shop */

.basic-input {
    font-family: "Lalezar", sans-serif;
    font-size: 16px;
    height: 41px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    padding: 0 20px;
    border: none;
    display: flex;
    align-items: center;
    border: 1px solid #242424;
}

.add-good {
    font-family: "Lalezar", sans-serif;
    font-size: 16px;
    padding: 14px 40px;
    background-color: #4d3ef5;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.2s;
}

.add-good:hover {
    background-color: #4538d5;
}

/* GoodCard */

.good-card {
    width: 1000px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.good-card__container {
    padding: 10px;
}

.good-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.good-card__description {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.good-card__seller,
.good-card__price {
    width: 100px;
    font-size: 14px;
    color: #888;
    text-align: center;
}

/* Login */
