.nav-bar {
    width: 100%;
    height: 82px;
    background-color: #14161a;
}

.nav-bar__container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    height: 82px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 270px;
}

.nav-bar__buttons {
    display: flex;
    align-items: center;
}

.logo-text {
    display: block;
    font-size: 50px;
    color: #fff;
    font-family: "Lalezar", sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 0;
    text-decoration: none;
}

/* Search */
.search-box {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 10px;
    border-radius: 50px;
    height: 45px;
    margin: auto 0;
    margin-right: 440px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #242424;
    font-size: 18px;
    max-width: 200px;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

/* Buttons */
.nav-button {
    display: flex;
    align-items: center;
}

.nav-button__btn {
    position: relative;
    font-family: "Lalezar", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.2s;
    overflow: hidden;
}

.nav-button__btn:hover {
    color: #fff;
}

.nav-button__btn::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-button__btn:hover::after {
    width: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
}
